<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>어드민 페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="my-3 text-center">
    <p class="fs-2 fw-semibold">어드민 페이지</p>
  </div>
  <div class="row gx-3 gy-3">

    <div class="col-sm-3 col-6">
      <div class="card">
        <div class="card-body">
          <p class="card-title fs-5">축제 관리</p>
          <a href="admin/festivals" class="btn btn-primary">이동</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-6">
      <div class="card">
        <div class="card-body">
          <p class="card-title fs-5">학교 관리</p>
          <a href="admin/schools" class="btn btn-primary">이동</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-6">
      <div class="card">
        <div class="card-body">
          <p class="card-title fs-5">어드민 계정 생성</p>
          <a href="admin/signup" class="btn btn-primary">이동</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-6">
      <div class="card">
        <div class="card-body">
          <p class="card-title fs-5">관리자 계정 관리(TODO)</p>
          <a href="#" class="btn btn-primary">이동</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-6">
      <div class="card">
        <div class="card-body">
          <p class="card-title fs-5">서버 버전 조회</p>
          <button class="btn btn-primary" id="serverVersionBtn">실행</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-6">
      <div class="card">
        <div class="card-body">
          <p class="card-title fs-5">INFO 로그 생성</p>
          <button class="btn btn-danger" id="infoLogBtn">실행</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-6">
      <div class="card">
        <div class="card-body">
          <p class="card-title fs-5">WARN 로그 생성</p>
          <button class="btn btn-danger" id="warnLogBtn">실행</button>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-6">
      <div class="card">
        <div class="card-body">
          <p class="card-title fs-5">ERROR 로그 생성</p>
          <button class="btn btn-danger" id="errorLogBtn">실행</button>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script th:src="@{/js/admin/admin-page.js}" type="module"></script>
</body>
</html>
