
root = true
[*.{kt,kts}]
ktlint_standard_annotation = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_multiline-expression-wrapping = disabled
