<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>어드민 페이지 - 공연 세부 관리</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="my-3">
    <p class="text-body-secondary">
      <a class="fs-5 text-decoration-none" id="returnLink">축제 상세 페이지 이동</a>
    </p>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="my-3 text-center">
        <p class="fs-2 fw-semibold">공연 수정</p>
      </div>
      <form id="schoolUpdateForm">
        <input type="hidden" id="id" name="id">
        <input type="hidden" id="festivalId" name="festivalId">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="fakeId" name="fakeId" disabled readonly>
          <label for="fakeId">ID</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="fakeFestivalId" name="fakeFestivalId" disabled
                 readonly>
          <label for="fakeFestivalId">축제 ID</label>
        </div>
        <div class="form-floating mb-3">
          <input type="datetime-local" class="form-control" id="startTime" name="startTime"
                 required>
          <label for="startTime">시작시간</label>
        </div>
        <div class="form-floating mb-3">
          <input type="datetime-local" class="form-control" id="ticketOpenTime"
                 name="ticketOpenTime"
                 required>
          <label for="ticketOpenTime">티켓 오픈 시간</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="lineUp" name="lineUp">
          <label for="lineUp">라인업</label>
        </div>
        <div class="text-center d-grid mb-3">
          <button type="submit" class="btn btn-primary btn-lg" id="updateBtn">수정</button>
        </div>
      </form>
      <div class="text-center d-grid">
        <button class="btn btn-danger btn-lg" id="deleteBtn">삭제</button>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="my-3 text-center">
        <p class="fs-2 fw-semibold">티켓 생성</p>
      </div>
      <form id="ticketCreateForm">
        <div class="mb-3">
          <select class="form-select py-3" id="ticketTypeSelect" name="ticketType" required>
            <option id="school-placeholder" value="" selected>티켓 종류</option>
            <option value="VISITOR">외부인</option>
            <option value="STUDENT">재학생</option>
            <label for="ticketTypeSelect">티켓 종류</label>
          </select>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="amount" name="amount" required>
          <label for="amount">수량</label>
          <div class="invalid-feedback" id="amount-feedback"></div>
        </div>
        <div class="form-floating mb-3">
          <input type="datetime-local" class="form-control" id="entryTime" name="entryTime"
                 required>
          <label for="entryTime">입장 시간</label>
          <div class="invalid-feedback" id="entryTime-feedback"></div>
        </div>
        <div class="text-center d-grid mb-3">
          <button type="submit" class="btn btn-primary btn-lg">생성</button>
        </div>
      </form>
    </div>
  </div>

  <hr/>
  <div class="my-3 text-center">
    <p class="fs-2 fw-semibold">티켓 목록</p>
  </div>
  <div class="my-3 text-center border" id="ticketGrid">
    <div class="row fs-5 fw-semibold gx-0 py-1">
      <div class="col-1">
        ID
      </div>
      <div class="col-3">
        티켓 종류
      </div>
      <div class="col-3">
        총 수량
      </div>
      <div class="col-3">
        남은 수량
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">알림</h1>
      </div>
      <div class="modal-body" id="errorModalBody">
        서버에 문제가 발생했습니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">알림</h1>
      </div>
      <div class="modal-body">
        정말로 삭제합니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="button" class="btn btn-danger" id="actualDeleteBtn">삭제</button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script th:src="@{/js/admin/stage/manage-stage-detail.js}" type="module"></script>
</body>
</html>
