<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>어드민 페이지 - 축제 세부 관리</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="my-3">
    <p class="text-body-secondary">
      <a href="/admin/festivals" class="fs-5 text-decoration-none">축제 목록 이동</a>
    </p>
  </div>
  <div class="my-3 text-center">
    <p class="fs-2 fw-semibold">축제 수정</p>
  </div>
  <form id="festivalUpdateForm">
    <input type="hidden" id="id" name="id">
    <input type="hidden" id="schoolId" name="schoolId">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="fakeId" name="fakeId" disabled readonly>
      <label for="fakeId">ID</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="fakeSchoolId" name="fakeSchoolId" disabled
             readonly>
      <label for="fakeSchoolId">학교 ID</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="name" name="name" required>
      <label for="name">이름</label>
    </div>
    <div class="form-floating mb-3">
      <input type="url" class="form-control" id="thumbnail" name="thumbnail" required>
      <label for="thumbnail">썸네일</label>
    </div>
    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="startDate" name="startDate" required>
      <label for="startDate">시작일</label>
      <div class="invalid-feedback" id="startDate-feedback"></div>
    </div>
    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="endDate" name="endDate" required>
      <label for="endDate">종료일</label>
      <div class="invalid-feedback" id="endDate-feedback"></div>
    </div>
    <div class="text-center d-grid mb-3">
      <button type="submit" class="btn btn-primary btn-lg" id="updateBtn">수정</button>
    </div>
  </form>
  <div class="text-center d-grid">
    <button class="btn btn-danger btn-lg" id="deleteBtn">
      삭제
    </button>
  </div>
  <hr/>
  <div class="my-3 text-center">
    <p class="fs-2 fw-semibold">공연 목록</p>
  </div>
  <div class="my-3 text-center border" id="stageGrid">
    <div class="row fs-5 fw-semibold gx-0 py-1">
      <div class="col-1">
        ID
      </div>
      <div class="col-3">
        시작시간
      </div>
      <div class="col-3">
        티켓 오픈 시간
      </div>
      <div class="col-3">
        라인업
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">알림</h1>
      </div>
      <div class="modal-body" id="errorModalBody">
        서버에 문제가 발생했습니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">알림</h1>
      </div>
      <div class="modal-body">
        정말로 삭제합니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="button" class="btn btn-danger" id="actualDeleteBtn">
          삭제
        </button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script th:src="@{/js/admin/festival/manage-festival-detail.js}" type="module"></script>
</body>
</html>
