spring:
  datasource:
    hikari:
      jdbc-url: jdbc:h2:~/festago;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
      username: sa
  jpa:
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    hibernate:
      ddl-auto: create
    open-in-view: false
  h2:
    console:
      enabled: true

logging:
  level:
    org:
      hibernate:
        orm:
          jdbc:
            bind: trace

festago:
  qr-secret-key: festagofestagofestagofestagofestagofestagofestagofestagofestagofestagofestagofestagofestagofestago
