<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property name="LOG_PATTERN"
    value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - %msg%n"/>
  <springProfile name="!prod"> <!-- TODO : 로컬 환경 console log 적용하기 -->
    <include resource="./logs/common/file-info-appender.xml"/>
    <include resource="./logs/common/file-warn-appender.xml"/>
    <include resource="./logs/common/file-error-appender.xml"/>
    <include resource="./logs/error/file-info-appender.xml"/>
    <include resource="./logs/error/file-warn-appender.xml"/>
    <include resource="./logs/error/file-error-appender.xml"/>

    <logger additivity="false" level="INFO" name="ErrorLogger">
      <appender-ref ref="ERROR_ERROR"/>
      <appender-ref ref="ERROR_WARN"/>
      <appender-ref ref="ERROR_INFO"/>
    </logger>

    <root level="INFO">
      <appender-ref ref="FILE-INFO"/>
      <appender-ref ref="FILE-WARN"/>
      <appender-ref ref="FILE-ERROR"/>
    </root>
  </springProfile>

  <springProfile name="dev">
    <include resource="file-info-appender.xml"/>
    <include resource="file-warn-appender.xml"/>
    <include resource="file-error-appender.xml"/>

    <root level="INFO">
      <appender-ref ref="FILE-INFO"/>
      <appender-ref ref="FILE-WARN"/>
      <appender-ref ref="FILE-ERROR"/>
    </root>
  </springProfile>

  <springProfile name="prod">
    <include resource="file-info-appender.xml"/>
    <include resource="file-warn-appender.xml"/>
    <include resource="file-error-appender.xml"/>

    <root level="INFO">
      <appender-ref ref="FILE-INFO"/>
      <appender-ref ref="FILE-WARN"/>
      <appender-ref ref="FILE-ERROR"/>
    </root>
  </springProfile>

  <timestamp datePattern="yyyy-MM-dd" key="BY_DATE"/>
</configuration>
