<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>어드민 페이지</title>
  <link href="style.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="form-section">
    <h2>축제 생성 요청</h2>
    <form id="createFestivalForm" method="post">
      <label for="name">이름:</label>
      <input id="name" name="name" required type="text"><br>

      <label for="startDate">시작일:</label>
      <input id="startDate" name="startDate" required type="date"><br>

      <label for="endDate">종료일:</label>
      <input id="endDate" name="endDate" required type="date"><br>

      <label for="thumbnail">썸네일:</label>
      <input id="thumbnail" name="thumbnail" required type="text"><br>

      <button type="submit">축제 생성</button>
    </form>
  </div>

  <div class="form-section">
    <h2>공연 생성 요청</h2>
    <form id="createPerformanceForm" method="post">
      <label for="startTime">시작 시간:</label>
      <input id="startTime" name="startTime" required type="datetime-local"><br>

      <label for="lineUp">출연진:</label>
      <input id="lineUp" name="lineUp" required type="text"><br>

      <label for="ticketOpenTime">티켓 오픈 시간:</label>
      <input id="ticketOpenTime" name="ticketOpenTime" required type="datetime-local"><br>

      <label for="festivalId">축제 ID:</label>
      <input id="festivalId" name="festivalId" required type="text"><br>

      <button type="submit">공연 생성</button>
    </form>
  </div>

  <div class="form-section">
    <h2>티켓 생성 요청</h2>
    <form id="createTicketForm" method="post">
      <label for="stageId">공연장 ID:</label>
      <input id="stageId" name="stageId" required type="text"><br>

      <label for="ticketType">티켓 종류:</label>
      <select id="ticketType" name="ticketType" required>
        <option value="VISITOR">외부인</option>
        <option value="STUDENT">재학생</option>
      </select><br>

      <label for="amount">총 티켓 수량:</label>
      <input id="amount" name="amount" required type="number"><br>

      <label for="entryTime">입장 시간:</label>
      <input id="entryTime" name="entryTime" required type="datetime-local"><br>

      <button type="submit">티켓 생성</button>
    </form>
  </div>
</div>

<script src="admin.js"></script>
</body>
</html>

