name: Closed Issue Notification
on:
  issues: 
    types: [closed]
    
jobs:
  create-issue: 
    name: Send closed issue notification to slack
    runs-on: ubuntu-latest 
    steps: 
    - name: Send Issue
      uses: 8398a7/action-slack@v3
      with:
        status: custom
        custom_payload: |
          {
            text: "*이슈가 닫혔습니다!*",
            attachments: [{
              fallback: 'fallback',
              color: '#7539DE',
              title: 'Title',
              text: '<${{ github.event.issue.html_url }}|${{ github.event.issue.title }}>',
              fields: [{
                title: 'Issue number',
                value: '#${{ github.event.issue.number }}',
                short: true
              },
              {
                title: 'Author',
                value: '${{ github.event.issue.user.login }}',
                short: true
              }],
              actions: [{
              }]
            }]
          }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_ISSUE_WEBHOOK_URL }}
      if: always()
